* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  display: block;
  clear: both;

}

[class*="col-"] {
  	padding: 15px 15px;
  	font-family: Arial;
  	font-size: 16px;
  	text-align: center;
}

.col-1 {width: 7.33%;}
.col-2 {width: 15.66%;}
.col-3 {width: 24%;}
.col-4 {width: 32.33%;}
.col-5 {width: 40.66%;}
.col-6 {width: 49%;}
.col-7 {width: 57.33%;}
.col-8 {width: 65.66%;}
.col-9 {width: 74%;}
.col-10 {width: 82.33%;}
.col-11 {width: 90.66%;}
.col-12 {width: 99%;}

#date{
    float: left;
    margin-left: 2%;
    color: whitesmoke;
    font-family: arial;
    font-size: 120%;
}

h1 { /**/
	text-align: center;
	font-family: Arial;
	font-size: 300%;
	color: white;
}
.icons{
	text-align: right;
    margin-right: 2%;
}

.footer{
	width: 100%;
	bottom: 10px;
	text-align: center;
	font-family: Arial;
	color: white;
	text-decoration: none;
  	display: inline-block;


}
body{
	background: url(tło.jpg); 
  	background-size: cover;
}
/*animacja przycisku menu*/
.container {
  
}

.bar1, .bar2, .bar3 {
  width: 50px;
  height: 7px;
  background-color: white;
  margin: 8px 0;
  transition: 0.4s;
}

.change .bar1 {opacity: 0;}

.change .bar2 {
		-webkit-transform: rotate(-360deg) ;
 		 transform: rotate(-360deg) ;
 }

.change .bar3 {opacity: 0;}
/*koniec animacji przycisku menu*/

.menu{text-align: center;}

.button {
    width: 50%;
  	border: none;
  	color: white;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
  	font-family: Arial;
    font-weight: bold;
}

/*animacja menu*/
#panel,#flip {
    padding: 15px;
    text-align: center;
  	color: white;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 20px;
}

#flip{
    background-color:  rgba(60,160,255,0.75);
    border-radius: 10px;
}

#panel{
	display: none;
    line-height: 45px;
}

#main a .button {
    background-color:  rgba(60,160,255,0.75);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
}

#cvl a .button {
     background-color:  rgba(60,160,255,0.75);
}

#contact a .button{
    background-color:  rgba(60,160,255,0.75);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

#main a .button:hover{
    background-color:  rgba(60,140,255,0.75);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#cvl a .button:hover{
    background-color:  rgba(60,140,255,0.75);
}

#contact a .button:hover{
    background-color:  rgba(60,140,255,0.75);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
}

li{
	list-style-type: none;
}

.edu .col-4{
    float: left;
    background-color: rgba(60,160,255,0.75);
    color: whitesmoke;
    border-radius: 10px;
    margin: 0.5%;
}

.exp .col-8{
    float: right;
    background-color: rgba(255,255,255,0.8);
    color: rgba(60,160,255,1);
    border-radius: 10px;
    margin: 0.5%;
}

.lang .col-4{
    float: left;
    background-color: rgba(255,255,255,0.8);
    color: rgba(60,160,255,1);
    border-radius: 10px;
    margin: 0.5%;
}

.skills .col-8{
    float: right;
    background-color: rgba(60,160,255,0.75);
    color: whitesmoke;
    border-radius: 10px;
    margin: 0.5%;
}

.obj .col-4{
    float: left;
    background-color: rgba(60,160,255,0.75);
    color: whitesmoke;
    border-radius: 10px;
    margin: 0.5%;
}

.hobby .col-4{
    float: left;
    background-color: rgba(255,255,255,0.8);
    color: rgba(60,160,255,1);
    border-radius: 10px;
    margin: 0.5%;
}

.download .col-8{
    float: right;
    background-color:  rgba(100, 100, 100, 0.5);
    color: whitesmoke;
    border-radius: 10px;
    margin: 0.5%;
}

#cv :hover{background-color:  rgba(100, 100, 100, 1); }

#columns{
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    text-align: center;
    margin-top: 1%;
}

#columns:after{
    content:'';
    display:block;
    clear:both;
}

#columns .col-2, #columns .col-4{
    float: left;
}

input[type=text], input[type=email], textarea{
    background-color: whitesmoke;
    color: rgba(60,160,255,1);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    background-color: rgba(60,160,255,1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
    margin: 2%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: rgba(193, 193, 193, 0.8);
    color: rgba(60,120,230,1);
    font-size: 120%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


#mp{
     background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    text-align: justify;
    justify-content: space-around;
    margin-top: 1%;
    color: rgba(60,110,235,1);
}

#mp:after{
    content:'';
    display: block;
    clear:both;
}

#mp img{
    border: 1px solid silver; 
    background: white;
    padding: 4px;
    border-radius: 150px;
    margin-top: 1%;
    margin-left: 2%;
}

article {
    float: right;
    margin-top: 1%;
    margin-right: 2%;
}

.col-2 #click{
    float: left;
    background-color: rgba(60,160,255,1);
    color: white;
    padding: 14px 20px;
    margin: 50%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color: rgba(60,160,255,1);}
  25%  {background-color: rgba(160,160,255,1);}
  50%  {background-color: rgba(60,60,255,1);}
  100% {background-color: rgba(60,160,55,1);}
}
