h1 { /**/
	text-align: center;
	font-family: Arial;
	font-size: 300%;
	color: white;
}
.icons{
	text-align: right;
}
.background{
	background-size: 100%; 
	background-color: rgba(255, 255, 255, 0.8);
  	border-radius: 10px;
  	color: rgba(71, 162, 255, 1.0);
  	font-family: Arial;
  	font-size: 16px;
  	text-align: center;

}

.footer{
	width: 100%;
	bottom: 10px;
	text-align: center;
	font-family: Arial;
	color: white;
	text-decoration: none;
  	display: inline-block;


}
body{
	background: url(tło.jpg); 
  	background-size: cover;
}
/*animacja przycisku menu*/
.container {
  
}

.bar1, .bar2, .bar3 {
  width: 50px;
  height: 7px;
  background-color: white;
  margin: 8px 0;
  transition: 0.4s;
}

.change .bar1 {opacity: 0;}

.change .bar2 {
		-webkit-transform: rotate(-360deg) ;
 		 transform: rotate(-360deg) ;
 }

.change .bar3 {opacity: 0;}
/*koniec animacji przycisku menu*/

nav {
	width: 100%;
	background: rgba(71, 162, 255, 0.75);
    border-radius: 10px;
}

nav::after {
	display: block;
	content: '';
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
    float: none
}

nav ul li {
	float: none;
	position: relative;
}

nav ul li:hover,
nav ul li:focus {
	background: rgba(71, 162, 255,1);
    border-radius: 10px;
}

nav ul li:focus {
	color: white;
}

nav ul li:not(:only-child)::after {
	padding-left: 4px;
}

nav ul li ul li a {
	background: transparent;
	color: #555;
	border-bottom: 1px solid #DDE0E7;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
    border-radius: 3px;
	background: #eee;
	color: #111;
}

*animacja menu*/
#panel,#flip {
    display: none;
	position: absolute;
	background: #fff;
    cursor: pointer;
}

#panel{
	display: none;
}

* {
  box-sizing: border-box;
}

.center {
  padding: 15px;
}

li{
	list-style-type: none;
}

.right1 {
	margin-right: 10px;
  	width: 68%;
  	float: right;
  	padding: 15px 15px;
  	margin-bottom: 7px;
  	background-color: rgba(255, 255, 255, 0.8);
  	border-radius: 5px;
  	color: rgba(71, 162, 255, 1.0);
  	font-family: Arial;
  	font-size: 16px;
  	text-align: center;
  	
}

.left2{
	margin-left: 10px;
	width: 30%;
  	float: left;
  	padding: 8px;
  	margin-bottom: 7px;
  	background-color: rgba(255, 255, 255, 0.8);
  	border-radius: 5px;
  	color: rgba(71, 162, 255, 1.0);
  	font-family: Arial;
  	font-size: 16px;
  	text-align: center;
  }

.left1{
	margin-left: 10px;
	width: 30%;
  	float: left;
  	padding: 8px;
  	margin-bottom: 7px;
  	background-color: rgba(71, 162, 255, 0.5);
  	border-radius: 5px;
  	color: white;
  	font-family: Arial;
  	font-size: 16px;
  	text-align: center;
}

.right2{
	margin-right: 10px;
  	width: 68%;
  	float: right;
  	padding: 8px;
  	margin-bottom: 7px;
  	background-color: rgba(71, 162, 255, 0.5);
  	border-radius: 5px;
  	color: white;
  	font-family: Arial;
  	font-size: 16px;
  	text-align: center;
}

.left3{
	margin-left: 10px;
	width: 30%;
  	float: left;
  	padding: 8px;
  	margin-bottom: 7px;
  	background-color: rgba(100, 100, 100, 0.5); 
  	border-radius: 5px;
  	color: white;
  	font-family: Arial;
  	font-size: 16px;
  	text-align: center;
}

#cv :hover{background-color:  rgba(100, 100, 100, 1); }